<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source={AppDir}\App_Data\TroncellGameData.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="WeixinAppId" value="wx9ff3581ee0c40573"/>
    <add key="ActivityId" value="4"/>
    <add key="GameTimePerPlayer" value="5" />
    <add key="MaxDropGiftNum" value="30" />
    <add key="ElevationAngle" value="-8" />
    <!--0:不加载历史数据 1：今天 2：今天-->
    <add key="LoadHistoryData" value="1" />
  </appSettings>
  <log4net>
    <appender name="Logger" type="log4net.Appender.RollingFileAppender">
      <file value="Errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %logger %date %-5level - %message %location %newline" />
      </layout>
    </appender>

    <root>
      <level key="log_level" value="ALL" />
      <appender-ref ref="Logger" />
    </root>

  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.89.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITroncellMessage" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://58.214.31.206:1991/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITroncellMessage" contract="SaveUserInfoService.ITroncellMessage" name="BasicHttpBinding_ITroncellMessage" />
    </client>
  </system.serviceModel>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
</configuration>