<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <!--weixin-->
  <appSettings>
    <add key="WeixinAppId" value="wx9ff3581ee0c40573"/>
    <add key="ActivityId" value="4"/>
    
    <!--接物-->
    <add key="GameTimePerPlayer" value="5"/>
    <add key="MaxDropGiftNum" value="30"/>
    <add key="ElevationAngle" value="-8"/>
    <!--0:不加载历史数据 1：今天 2：今天-->
    <add key="LoadHistoryData" value="1"/>

    <!--拍照-->
    <add key="Distance" value="5"/>
    <!--扫码等待时间-->
    <add key="AutoCloseDuration" value="50"/>
    <!--无人时切换到视频-->
    <add key="ScreenSave" value="10"/>
  </appSettings>
</configuration>
